@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475049127'); /* IE9*/
  src: url('iconfont.eot?t=1475049127#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475049127') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475049127') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475049127#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.nav{
	width:100%;height:20px;
	margin:0 auto;
	position: relative;
	margin-top: 22px;
}
.nav ul{
	width:388px;height:24px;
	position: absolute;
	right:80px;
}
.nav li{
	display: inline-block;
	height:20px;margin-right: 16px;
	text-align: center;
	font-size: 13px;
	font-family: "宋体";
	font-weight: bold;
	text-decoration: underline;
}
.nav li:nth-child(7){
	font-weight:normal;
}
.nav li:nth-child(8){
	font-weight:normal;
}
.more a{
	position: absolute;
	right:12px;top:-5px;
	width:60px;height:25px;
	background-color:#3388FF;
	color:#fff;
	font-weight: normal;
	line-height: 25px;
	text-align: center;
	font-size: 13px;
}

.lg{
	width:270px;height:129px;
	margin:0 auto;
}
.lg img{
	width:270px;height:129px;
}
.search{
	width:642px;height:36px;
	margin:0 auto;
	border:1px solid #4791FF;
	margin-top: 30px;
}
.search:focus{
	border:1px solid#d8d8d8;
}
.search input{
	width:490px;height:30px;
	border:none;
	padding-left: 10px;
}
.iconfont{
	color:#B8B8B8;
}
.search button{
	width:36px;height:36px;
	line-height: 36px;
	text-align: center;
	border:none;
	background-color:#fff;
}
.search span{
	float:right;
	display: inline-block;
	width:100px;height:36px;
	background-color:#3388FF;
	font-size: 15px;
	font-family: "宋体";
	text-align: center;
	line-height: 36px;
	color:#fff;
	font-weight: normal;
}
.tail{
	width:640px;height:62px;
	margin:0 auto;
	margin-top:280px;
}
.code1{
	float:left;
	margin-left: 20px;
}
.code_img{
	float:left;
	width:62px;height:62px;
	background:url(../images/erweima.png) no-repeat;
}
.code_img1{
	float:left;
	width:62px;height:62px;
	background:url(../images/erweima2.png) no-repeat;
}
.code_text{
	width:65px;height:62px;
	float:left;line-height: 24px;
	margin-left: 8px;
}
.code_text p:nth-child(1){
	font-weight: bold;
	font-size: 12px;
	color:#896666;
	font-family: "宋体";
	margin-top: 6px;
}
.code_text p:nth-child(2){
	font-size: 12px;
	color:#999999;
	font-family: "宋体";
}
.statement {
	float:left;
	height:62px;width:330px;
	font-size: 12px;
	margin-left: 15px;
	font-family: "宋体";
	color:#999999;
	margin-top:-4px;
}
.statement p{
	height:20px;width:330px;
	text-align: left;
	margin-bottom: 4px;
	line-height: 20px;
}
.statement a{
	text-decoration:underline;
	color:#999999;
}
.links a{
	margin-right: 16px;
}
.icon{
	display: inline-block;
	width:14px;height:16px;
	background-color:red;
	background:url(../images/xuebi.png) no-repeat;
	background-position:-600px -96px;
}
.Badge{
	display: inline-block;
	width:14px;height:16px;
	background-color:red;
	background:url(../images/xuebi.png) no-repeat;
	background-position:-623px -96px;
}
/*手机端*/
.mobile{
		display:none;
		height:auto;
		position: relative;
	}
@media(max-width:500px){
	.container{
		display: none;}
	.mobile{
		display:block;}
}
/*顶部*/
.m-top{
	width:100%;height:35px;
	position: relative;
}
/*天气*/
.toubu{
	background-color:#f1f1f1;
}
.weather{
	width:130px;height:32px;
	margin-top: 3px;
	font-size: 18px;
	margin-left: 5px;
}
/*温度*/
.du{
	position: absolute;
	top:4px;left:35px;
	font-size: 20px;
	font-family: "宋体";
	font-weight: bold;
	color: #8c8c8c;
}
/*长治*/
.air{
	display: inline-block;
	width:70px;height:30px;
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	top:4px;left:70px;
	color: #8c8c8c;
}
/*下拉框*/
.xiala{
	position: absolute;
	left:110px;top:4px;
}
/*用户跟换肤*/
.m-man{
	position:absolute;
	right:5px;top:1px;
	width:70px;height:35px;
}
.m-man i{
	margin-right: 10px;
}
/*来自太空的信*/
.letter{
	display: inline-block;
	position: absolute;
	top:12px;right:85px;
	width:84;height:20px;
	text-align: center;
	font-size:11px;
	font-family: "宋体";
	background-color:#fff;
	box-shadow: 1px 1px 1px #d8d8d8;
}
.letter a{
	color:#666;
}
/*待设置*/
.letter::after{
		content: '';
		width: 0;
		height: 0;
		border-width: 6px;
		border-style: solid;
		border-color: transparent;
		border-left-color: #fff;
		position: absolute;
		top: 7px;
		right: -10px;
}
/*logo*/
.m-lg{
	width:183px;height:60px;
	margin:0 auto; 
	margin-top: 40px;
	margin-bottom: 15px;
}
.m-lg img{
	width:183px;height:60px;
}
.m-search{
	width:95%;height:44px;
	margin:0 auto;
	margin-left: 10px;
	border:1px solid #d8d8d8;
	background-color:#fff;
	position: relative;
}
.m-search input{
	width:60%;height:38px;
	border:none;
	margin-left: 5px;
}
.mlik{
	width:160px;height:44px;
	float:right;
	position: absolute;
	right:0;top:0;
}
.m-search button{
	float:left;
	width:80px;height:44px;
	border:none;
	background-color:#fff;
}
.m-baidu{
	display: inline-block;
	width:84px;height:44px;
	background-color:red;
	font-size: 16px;
	color:#fff;
	background-color:#3388FF;
	text-align: center;
	line-height: 44px;
	position: absolute;
	top:0;right:0;
}
.m-nav{
	width:96%;height:42px;
	margin:0 auto;
/*	margin-left:20px;*/
	margin-top: 18px;
	position: relative;
}
.m-nav a{
	float:left;	width:16%;height:42px;
}
.m-nav i{
	color:#666;
}
.m-nav a span{
	display: inline-block;
	width:60px;height:24px;
	text-align: center;
	color:#666666;
}
.m-nav a .m-image{
	display:block;
	width:60px;height:24px;
	text-align: center;
	line-height:20px;
}
/*推荐*/
.spots{
	width:100%;height:40px;
	text-align: center;
	line-height: 41px;
	margin-top: 30px;
}

.post{
	display: inline-block;
	width:16%;color:#333;
	height:38px;
	font-size: 16px;
    text-align: center;
    line-height: 41px;
}
.post:hover,.cur{
	color:#38f;
	border-bottom:2px solid #38f;
}
/*第一个新闻*/
.m-news{
	width:100%;height:auto;
	margin:0 auto;
	border-bottom: 1px solid #e7e7e7;
}
.m-news-title{
	width:90%;height:63px;
	text-align: left;
	font-family: none;
	font-size: 18px;
	margin-top: 10px;
	line-height: 26px;
	color:#333;
	margin-left: 18px;
	overflow: hidden;
}
.m-news-img{
	width:90%;height:73px;
	margin:0 auto;
	margin-bottom: 12px;
}
.m-news-img img{
	width:30%;height:73px;
	
}
.m-news-text{
	width:90%;height:16px;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
}
.m-news-text span{
	color:#999;
	font-size: 13px;
	margin-right:8px;
	line-height: 12px;
}
.m-news-text span:nth-child(3){
	color:#f13f40;
	font-size: 12px;
	border:1px solid #efb9b9;
	box-sizing:border-box;
	border-radius: 2px;
	margin-bottom: 1px;
}
/*第二个新闻*/
.m-news1{
	width:100%;height:auto;
	margin:0 auto;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
}
.m-news-img1{
	width:30%;height:73px;
	margin-top:10px;
	margin-bottom: 15px;
}
.m-news-img1 img{
	width:100%;height:73px;
	margin-left: 15px;
}
.m-news-text1{
	width:63%;height:73px;
	position: absolute;
	top:0;right:0;
	margin-left:10px
}
.m-news-text1 h2{
	font-family: none;
	font-size: 18px;
	line-height: 26px;
	overflow: hidden;
}
.m-news-text1 span{
	display: inline-block;
	height:13px;
	color:#999;
	font-size: 13px;
	margin-right:8px;
	line-height: 12px;
	margin-top: 5px;
}
.m-news-text1 span:nth-child(4){
	color:#f13f40;
	font-size: 12px;
	border:1px solid #efb9b9;
	box-sizing:border-box;
	border-radius: 2px;
	margin-bottom: 1px;
}
/*尾部*/
.end{
	width:100%;height:auto;
	background-color:#f1f1f1;

}
.end ul{
	width:90%;height:auto;
	margin:0 auto;
	padding-top: 12px;
}
.end ul li{
	height:40px;font-size: 13px;
	line-height: 40px;
	color:#555;
	font-family: none;
	position: relative;
}
.end ul li b{
	display: inline-block;
	width:18px;height:13px;
	color:#fff;
	border-radius: 3px;
	font-size: 10px;
	background-color:#ed5353;
	text-align: center;
	line-height: 13px;
}
.end ul li:nth-child(2){
	background:url(https://gss0.bdstatic.com/5bd1bjqh_Q23odCf/static/wiseindex/img/w_icon2.png) no-repeat;
	background-size:18px 18px;
	line-height: 18px;height:18px;
}
/*用户反馈*/
.m-user{
	width:100%;height:34px;
	font-family: none;
	color:#666;
	line-height: 34px;
	text-align: center;
	background-color:#f1f1f1;
	padding-top: 10px;
}
.m-user span{
	display: inline-block;
	width:20%;height:34px;
	background-color: #ff0;
	margin:0 auto;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAlUlEQVRIx+3WwQ3AIAgFUEfXg01n6EQu4hy0A2iQ/yGmiYd/fgaBkEQk7Ug68IHD4dZa/yKO6auweOfAKsw0zT9hp1w74DKrRCSctW+IgPMIG+GecF1ttCnssYu1uQ6BV5YKW+oHQVn4RlEGLgyKwplFEbh6oHRXo6jLOCGoudTaGrQ8GoZHOHplmmFmy5nO29kjEfgFKVQDsNj13egAAAAASUVORK5CYII=)
	           no-repeat;
	background-size:20px 20px;
	background-position: 0 30%;         
} 
.m-statement{
	width:100%;height:auto;
	background-color:#f1f1f1;
	padding-top:10px;
	padding-bottom: 30px;
}   
.m-use,.m-Case{
	text-align: center;
	line-height: 28px;
}
.m-use a,.m-Case a{
	font-size: 12px;color:#999;
	margin-top: 20px;
}