/*顶部广告*/
.top-advertising{
    display: block;
    width: 100%;
    height: 80px;
    background:url("../image/jbanner.jpg") no-repeat center;
    background-size: 1920px 80px;
    min-width: 1000px;
}
.top-advertising .top-wraper{
    display: block;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.top-advertising .top-wraper ul{
    width: 1000px;
    display: block;
}
.top-advertising .top-wraper ul li{
    float: left;
    width: 178px;
    height: 49px;
    margin-left: 5px;
    background: url("../image/btn.png") no-repeat center;
    position: relative;
    left: 202px;
    top: 18px;
}
.top-advertising .top-wraper ul li .new-icon{
    display: inline-block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 1px;
}
.top-advertising .top-wraper ul li a{
    display: inline-block;
    width: 178px;
    height: 49px;line-height: 44px;
    font-size: 18px;
    text-align: center;
    color: #1e5294;
}
.top-advertising .top-wraper ul li:hover{
    transition: all 1s;
    background:url("../image/btn-hover.png") no-repeat;
}
/*关闭键*/
.top-advertising .top-wraper .top-close{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #9395a4;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 3px;
}
.top-advertising .top-wraper .top-close::before{
    display: inline-block;
    content: '';
    width: 2px;
    height: 14px;
    background: #2c2d4e;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -1px;
    transform: rotate(45deg);
}
.top-advertising .top-wraper .top-close::after{
    display: inline-block;
    content: '';
    width: 2px;
    height: 14px;
    background: #2c2d4e;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -1px;
    transform: rotate(-45deg);
}
.top-advertising .top-wraper .top-close:hover{
    background: #eaeaed;
}


/*标题广告*/
.header_ad{
    background: #fff;
}
.title-ad{
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}
.title-ad .logo{
    width: 109px;
    height: 60px;;
    float: left;
    margin-right: 60px;
}
.title-ad .logo img{
    float: left;
    width: 109px;
    margin-top: 10px;
}
.title-ad nav{
    height: 60px;
    float: left;
}
.title-ad nav ul li{
    font-size: 14px;
    height: 60px;
    margin-right: 50px;
    float: left;
    line-height: 60px;
}
.title-ad nav ul li:hover {
    color: #35b558;
}
.title-ad nav ul .community{
    margin-right: 0;
}
.title-ad nav ul li .arrow-icon{
    width: 8px;
    height: 8px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 5px;
    transform: rotate(-135deg);
}
.title-ad nav ul li:hover i.arrow-icon{
    margin-bottom: -2px;
    border-top: 1px solid #35b558;
    border-left: 1px solid #35b558;
    transform: rotate(45deg);
    animation: rotate 1s ease normal;
}
@keyframes rotate {
    0% {
        margin-bottom: 2px;
        transform: rotate(-135deg);
    }
    10% {
        margin-bottom: -2px;
    }
    100% {
        transform: rotate(45deg);
    }
}
/*登录/搜索/aap下载*/
.title-ad .icon-x{
    width: 200px;
    height: 60px;
    float: right;
    text-align: right;
    margin-right: 10px;
}
.title-ad .icon-x span{
    display: inline-block;
    height: 60px;
    width: 17px;
    margin-left: 25px;
}
/*搜索图标*/
.title-ad .icon-x .search-icon{
    background: url("../image/search-icon.png") no-repeat center;
    background-size: 17px 17px;
}
.title-ad .icon-x .search-icon:hover{
    background:url("../image/search-icon2.png") no-repeat center;
    background-size: 17px 17px;
}
/*下载APP二维码图标*/
.title-ad .icon-x .download-icon{
    background: url("../image/app-icon.png") no-repeat center;
    background-size: 17px;
}
.title-ad .icon-x .download-icon:hover{
    background: url("../image/app-icon2.png") no-repeat center ;
    background-size: 17px;
}
/*登录注册图标*/
.title-ad .icon-x .login-icon{
    background: url("../image/login-icon.png") no-repeat center;
    background-size: 17px;
}


/*主体部分*/
.w-1000{
    display: block;
    width: 1000px;
    margin:0 auto;
    clear:both;
    content: ".";
    overflow: hidden;
}
.mar-t20{
    margin-top: 20px;
}
/*广告图片*/
.jk-banner{
    height: 330px;
    width: 750px;
    background: #f5f5f5;
    float: left;
    position: relative;
}
.jk-banner  a{
    display: block;
    height: 330px;
    width: 750px;
    background:url("../image/579fa23cd1598.jpg") no-repeat center;
}
/*左箭头*/
.jk-banner .left-arrow{
    width: 50px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 50%;
    background:url("../image/arrow_dd5a57d.png") no-repeat center;
    margin-top: -50px;
    display: none;
}
/*右箭头*/
.jk-banner .right-arrow{
    width: 50px;
    height: 80px;
    position: absolute;
    right:0;
    top: 50%;
    background:url("../image/arrow_dd5a57d.png") no-repeat center;
    margin-top: -50px;
    transform:rotate(180deg);
    display: none;
}
.jk-banner:hover .right-arrow{
    display: block;
}
.jk-banner:hover .left-arrow{
    display: block;
}
/*登录注册*/
.jk-login{
    width: 182px;
    height: 110px;
    border: 1px solid #e9e9e9;
    float: left;
    background: #fff;
    margin-left: 8px;
    padding: 26px 29px 24px;
}
.jk-login .userInfo{
    height: 57px;
}
.jk-login img{
    width: 57px;
    height: 57px;
    float: left;
    margin-right: 15px;
}
.jk-login .userName{
    width: 108px;
    height: 16px;
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    margin-top: 8px;
}
.jk-login .userStatus{
    width: 108px;
    height: 16px;
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    margin-top: 10px;
}
.jk-login .loginOn-diaLoginBtn{
    display: inline-block;
    width: 85px;
    height: 32px;
    border: 1px solid #35b558;
    border-radius: 2px;
    color: #35b558;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    margin-right: 8px;
    float: left;
}
.jk-login .loginOn-diaLoginBtn:hover{
    transition: background 0.8s;
    background: #35b558;
    color: #fff;
}
.jk-login .registerNow{
    display: inline-block;
    width: 85px;
    height: 32px;
    border: 1px solid #35b558;
    border-radius: 2px;
    color: #35b558;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    float: left;
}
.jk-login .registerNow:hover{
    transition: background 0.8s;
    background: #35b558;
    color: #fff;
}


/*了解更多*/
.jk-huodong{
    width: 240px;
    height: 160px;
    margin-top: 10px;
    float: left;
    margin-left: 8px;
}


/*就业班介绍*/
.jk-jiuye{
    width: 100%;
    height: 130px;
    background: #fff;
    margin-top: 20px;
    float: left;
}
.jk-jiuye .jiuyeBan{
    display: block;
    width: 249px;
    height: 38px;
    color: #555;
    text-align: center;
    font-size: 12px;
    float: left;
    padding-top: 90px;
    border: 1px solid #f0f0f0;
    position: relative;
    margin-left: -1px;
}
.jk-jiuye .jiuyeBan i{
    display: inline-block;
    width: 52px;
    height: 52px;
    background:url("../image/tag_8332cd6.png") no-repeat center;
    background-size: 52px;
    position: absolute;
    top: 0;
    left: 0;
}
.jk-jiuye .jiuyeBan:first-child{
    background:url("../image/jweb_95cd305.png") no-repeat center 20px;
    background-size: 130px 65px;
}
.jk-jiuye .jiuyeBan:nth-child(2){
    background:url("../image/jphp_d405f8a.png") no-repeat center 20px;
    background-size: 130px 65px;
}
.jk-jiuye .jiuyeBan:nth-child(3){
     background:url("../image/jandroid_aa0f1c1.png") no-repeat center 20px;
     background-size: 130px 65px;
}
.jk-jiuye .jiuyeBan:nth-child(4){
    background:url("../image/jios_e6eb57b.png") no-repeat center 20px;
    background-size: 130px 65px;
}
.jk-jiuye .jiuyeBan:hover{
    color: #35b558;
}

/*课时费*/
.jk-sku{
    width: 1000px;
    height: 270px;
    margin: 20px auto 40px;
    float: left;
}
.jk-sku ul li{
    width: 233px;
    height: 268px;
    margin-right: 20px;
    border: 1px solid #e9e9e9;
    float: left;
}
.jk-sku ul li a{
    display: block;
    height: 100%;
}
.jk-sku ul li a img{
    width: 100%;
    height: 155px;
    float: left;
}
.jk-sku ul li:nth-child(4){
    margin-right: 0;
}
.jk-sku ul li a .skuContainer{
    width: 205px;
    height: 85px;
    padding: 14px;
    float: left;
}
.jk-sku ul li a .skuContainer .skuTitle{
    height: 36px;
    color: #555;
    line-height: 18px;
}
.jk-sku ul li a .skuContainer .skuInfo{
    color: #999;
    height: 16px;
    line-height: 16px;
    margin-top: 6px;
}
.jk-sku ul li a .skuContainer .skuPrice{
    display: block;
    color: #ff5c00;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 8px;
    float: left;
}
.jk-sku ul li a .skuContainer .skuPrice b{
    font-size: 14px;
    margin-right: 3px;
}
.jk-sku ul li a .skuContainer .skuThrought{
    color: #999;
    text-decoration: line-through;
    float: left;
    margin-top: 14px;
}
.jk-sku ul li a .skuContainer .skuNum{
    color: #999;
    float: right;
    margin-top: 14px;
}


/*职业学院*/
.jk-college{
    width: 1000px;
    height: 310px;
    margin: 0 auto 40px;
}
.jk-college h2{
    color: #555;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 22px;
}
.jk-college ul li{
    width: 240px;
    height: 130px;
    background: #ccc;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
}
.jk-college ul .web{
    width: 500px;
    height: 270px;
    margin-left: 0;
    position: relative;
}
.jk-college ul .web img{
    display: inline-block;
    width: 500px;
    height: 270px;
}
.jk-college ul .web span{
    display: inline-block;
    background:url("../image/cweb_2d70d0b.png") no-repeat center 70px;
    background-size: 55px 84px;
    font-size: 20px;
    padding-top: 180px;
}
.jk-college ul li span{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px;
}
.jk-college ul li img{
    display: inline-block;
    width: 240px;
    height: 130px;
}
.jk-college ul .python span{
    background:url("../image/cpython_5ed9df4.png") no-repeat center 31px;
    background-size: 36px 36px;
}
.jk-college ul .go span {
    background: url("../image/cgo_e66208d.png") no-repeat center 31px;
    background-size: 36px 36px;
}
.jk-college ul .ios span {
    background: url("../image/cios_dc0ca8e.png") no-repeat center 31px;
    background-size: 36px 36px;
}
.jk-college ul .more  span {
    background: url("../image/cmore_1bdb357.png") no-repeat center 31px;
    background-size: 36px 36px;
}


/*会员课程*/
.jk-vip{
    width: 1000px;
    margin: 0 auto 40px;
    height: 420px;
}
.jk-vip h2{
    height: 18px;
    font-size: 18px;
    color: #555;
    line-height: 18px;
    margin-bottom: 22px;
}
.jk-vip ul li{
    width: 156px;
    height: 148px;
    border: 1px solid #e9e9e9;
    float: left;
    margin-left: 10px;
    background: #fff;
}
.jk-vip ul li:hover{
    box-shadow: #e9e9e9 1px 2px;
}
.jk-vip ul li:nth-child(1),.jk-vip ul li:nth-child(7){
    margin-left: 0;
}
.jk-vip ul li:nth-child(n+7){
    margin-top: 10px;
}
.jk-vip ul li a{
    display: block;
    width: 100%;
    text-align: center;
}
.jk-vip ul li a img{
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-top: 25px;
}
.jk-vip ul li a p{
    height: 22px;
    color: #555;
    line-height: 22px;
}
.jk-vip ul li a span{
    display: block;
    height: 22px;
    color: #35b558;
    line-height: 22px;
}
.jk-vip .vipall{
    display: inline-block;
    width: 120px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    font-size: 14px;
    color:#35b558 ;
    text-align: center;
    margin-top: 38px;
    position: relative;
    left: 50%;
    margin-left: -60px;
}
.jk-vip .vipall:hover{
    transition: background 0.8s;
    background: #35b558;
    color: #fff;
}


/*学员故事*/
.story{
    width:1000px;height:300px;
    margin:0 auto 80px;
    position: relative;
}
.story h2{
    font-size: 18px;
    color:#555;
    line-height: 18px;
    height:18px;
    margin-bottom: 22px;
    font-weight: 400;
}
.story ul{
    height:100%;
}
.story ul li{
    float:left;
    width:318px;height:200px;
    position: relative;
    margin-right: 20px;
}
.story ul li:nth-child(3){
    margin-right: 0;
}
.story .story-text{
    width:100%;
    height:121px;
    border:1px solid #e9e9e9;
    background:#fff;
    position: relative;
    box-sizing:border-box;
}
.story .story-text::before{
    content: '';
    display:inline-block;
    width:0;height:0;
    border-top:12px solid #fff;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    position: absolute;
    bottom:-12px;
    left:46px;
}
.story .story-text p{
    width:100%;
    font-size: 12px;
    color:#555;
    line-height: 20px;
    padding:20px 25px;
    text-align: left;
    box-sizing:border-box;
}
.story .story-text p::before{
    content: '';
    display: inline-block;
    width:14px;height:10px;
    background:url(../image/storyicon_4a5e270.png) no-repeat center;
    background-size:14px 10px;
    position: absolute;
    top:10px;left:10px;
}
.story .story-text p::after{
    content: '';
    display: inline-block;
    width:14px;height:10px;
    background:url(../image/storyicon_4a5e270.png) no-repeat center;
    background-size:14px 10px;
    -webkit-transform:rotate(180deg);
    position: absolute;
    bottom:10px;right:10px;
}
.story .story-local{
    height:80px;
    padding-left:95px;
    padding-top: 20px;
    position: relative;
    box-sizing:border-box;
}
.story .story-text:hover{
    box-shadow: 1px 3px #e9e9e9;
}
.story .story-local img{
    position: absolute;
    top:20px;left:20px;
    width:60px;height:60px;
    border-radius:50%;
    border:1px solid #e9e9e9;
}
.story .story-local p{
    font-size: 12px;
    color:#555;
    width:100%;
    height:24px;
    line-height: 24px;
    text-align: left;
}
.story .story-local span{
    display: inline-block;
    height:24px;
    line-height: 24px;
    color:#999;
    font-size: 12px;
    text-align: left;
}
.story .story-pagination{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 16px;
    text-align: center;
}
.story .story-pagination .swiper-pagination-switch{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    text-align: center;
    background: #bbb;
}
.story .story-pagination .swiper-pagination{
    display: inline-block;
    width: 16px;
    height: 8px;
    margin-right: 8px;
    text-align: center;
    background: #35b558;
}
.story .story-pagination .swiper-pagination-switch:hover{
    width: 16px;
    height: 8px;
    background: #35b558;
}


/*页脚*/
.mar-t50{
    width: 100%;
    min-width: 1000px;
    margin: 50px auto 0;
    background: #fff;
    border-top: 1px solid #e4e4e4;
}
.mar-t50 .jkinfor{
    width: 776px;
    height: 190px;
    margin: 0 auto;
    padding-left: 224px;
    padding-top: 25px;
    position: relative;
}
.mar-t50 .jkinfor .jk-logo{
    width: 160px;
    position: absolute;
    left: 0;
    top: 25px;
}
.mar-t50 .jkinfor .jk-logo img{
    display: block;
    width: 109px;
    height: 40px;
}
.mar-t50 .jkinfor .jk-logo p{
    color: #999;
    margin-top: 20px;
}
.mar-t50 .jkinfor dl{
    float: left;
    width: 135px;
    color: #808080;
}
.mar-t50 .jkinfor dl dt{
    font-size: 14px;
    line-height: 30px;
}
.mar-t50 .jkinfor dl dd{
    line-height: 30px;
}
.mar-t50 .jkinfor dl dd a{
    color: #999;
}
.mar-t50 .jkinfor dl dd a:hover{
    color: #35b558;
}
.mar-t50 .jkinfor .jk-down{
    display: inline-block;
    width: 175px;
    text-align: left;
    position: absolute;
    right: 0;
    top:25px;
}
.mar-t50 .jkinfor .jk-down .hot-tel{
    color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}
.mar-t50 .jkinfor .jk-down .down-ios {
    background: url("../image/icon-down-ios.png") no-repeat;
    background-size: 30px 30px;
}
.mar-t50 .jkinfor .jk-down .down-and{
    background:url("../image/icon-down-and.png") no-repeat;
    background-size: 30px 30px;
}
.mar-t50 .jkinfor .jk-down .downCon{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
}
.mar-t50 .copyright{
    width: 1000px;
    color: #999;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
}
.mar-t50 .copyright strong a{
    color: #999;
}
.mar-t50 .copyright strong a:hover{
    color: #34b558;
}
.mar-t50 .copyright a.down-wechat{
    display: block;
    width: 20px;
    height: 15px;
    background: url("../image/icon-down-wechat.png") no-repeat 0 0;
    background-size: 18px 15px;
    float: right;
}
.mar-t50 .copyright a.down-sina{
    display: block;
    width: 20px;
    height: 15px;
    background: url("../image/icon-down-sina.png") no-repeat 0 0;
    background-size: 20px 15px;
    float: right;
    margin-right: 10px;
}
.mar-t50 .copyright .jk-Integrity{
    display: block;
    margin: 15px auto 0;
}
.mar-t50 .copyright .jk-Integrity img{
    width: 60px;
}

/*右下角fixed*/
.gotop{
    display: block;
    width: 30px;
    height: 102px;
    position: fixed;
    left: 50%;
    bottom: 100px;
    z-index: 2000;
    margin-left: 510px;
}
.gotop .top{
    display: block;
    width: 34px;
    height: 34px;
    background: url("../image/gotop.jpg") no-repeat;
    background-size: 34px 103px;
}
.gotop .jk-app{
    display: block;
    width: 34px;
    height: 34px;
    background:url("../image/tel.png")no-repeat center;
    background-size: 12px 24px;
}
.gotop .diaocha{
    display: block;
    width: 34px;
    height: 34px;
    background:url("../image/wx.jpg")no-repeat;
    background-size: 34px 34px;
}