
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475045204'); /* IE9*/
  src: url('iconfont.eot?t=1475045204#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475045204') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475045204') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475045204#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-duoyun:before { content: "\f015e"; }
.icon-xiajiantou:before { content: "\e638"; }
.icon-geren-copy:before { content: "\e62a"; }
.icon-huanfu:before { content: "\e629"; }
.icon-yuyin:before { content: "\e63a"; }
.icon-arrow-down:before { content: "\e7dd"; }
.icon-xinwen:before { content: "\e622"; }
.icon-xiaoshuo:before { content: "\e608"; }
.icon-shipin:before { content: "\e606"; }
.icon-nuomi:before { content: "\e602"; }
.icon-ditu:before { content: "\e603"; }
.icon-gengduo:before { content: "\e627"; }
