
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475049127'); /* IE9*/
  src: url('iconfont.eot?t=1475049127#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475049127') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475049127') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475049127#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yifu:before { content: "\e615"; }
.icon-yuyin:before { content: "\e621"; }
.icon-gengduo:before { content: "\e61a"; }
.icon-xiala:before { content: "\e616"; }
.icon-xiangji:before { content: "\e614"; }
.icon-shipin:before { content: "\e61b"; }
.icon-iconzhenghe31:before { content: "\e617"; }
.icon-xinwen:before { content: "\e61c"; }
.icon-shipin1:before { content: "\e61d"; }
.icon-nuomi:before { content: "\e61e"; }
.icon-xiaoshuo:before { content: "\e61f"; }
.icon-webicon08:before { content: "\e600"; }
.icon-webicon12:before { content: "\e601"; }
.icon-webicon205:before { content: "\e602"; }
.icon-webicon208:before { content: "\e603"; }
.icon-webicon301:before { content: "\e604"; }
.icon-webicon302:before { content: "\e605"; }
.icon-webicon309:before { content: "\e606"; }
.icon-webicon310:before { content: "\e607"; }
.icon-webicon313:before { content: "\e608"; }
.icon-duoyun:before { content: "\e619"; }
.icon-shouyeshouye:before { content: "\e609"; }
.icon-sousuo1:before { content: "\e60a"; }
.icon-yinle:before { content: "\e60b"; }
.icon-mac:before { content: "\e60c"; }
.icon-dianzan1:before { content: "\e60d"; }
.icon-fenxiang2:before { content: "\e60e"; }
.icon-mima:before { content: "\e60f"; }
.icon-mimaqueren:before { content: "\e610"; }
.icon-shoucang8:before { content: "\e611"; }
.icon-my:before { content: "\e612"; }
.icon-phone:before { content: "\e613"; }
.icon-qingzhuanduoyun:before { content: "\e618"; }
.icon-ditu:before { content: "\e620"; }
