*{
    margin: 0;
    padding: 0;
}
/*标准盒模型*/
.box1{
     margin: 100px;
     padding: 20px;
     width: 200px;
     height: 200px;
     background: #00ffff;
     border: 2px dashed #000;
 }
.standard{
    width: 200px;
    height: 200px;
    background: #ff0;
    text-align: center;
}
/*怪异盒模型*/
.box2{
    margin: 100px;
    padding: 20px;
    width: 220px;
    height: 220px;
    background: #00ffff;
    border: 2px dashed #000;
    box-sizing: border-box;
}
.weird{
    width: 176px;
    height: 176px;
    background: #ff0;
    text-align: center;
}